.product{
    display:flex;
    border-bottom:1px solid lightgray;
    margin-bottom:5px;
    padding-bottom:5px;
    margin-right:10px;
}
.product-name-spacer{
    margin-left:10px;
}
.product-name{
    color:blue;
    font-weight:400;
}
.cart-button{
    background-color: orange;
    width:150px;
    height:30px;
    border:orangered;
    border-radius:5px;
}